<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cowsay</title>
</head>
<body>
    <div>
        <a href="/" style="color:blue;">Homepage</a> | <a href="/history/" style="color:blue;">Recent History</a>
    </div>
    <h1>{{ title }}</h1>
    <pre>{{ cowsay_text }}</pre>
    <div>
        <h2>What would you like the cow to say?</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>